table {
	border-collapse: collapse;
	margin: ($base-spacing / 4) 0;
	table-layout: fixed;
	width: 100%;
}

th {
	font-weight: bold;
	padding: ($base-spacing / 4) 5px;
	text-align: left;
}

td {
	padding: ($base-spacing / 4) 5px;
}

tr,
td,
th {
	vertical-align: middle;
}
