.idea/workspace.xml
.idea/dictionaries
.idea/misc.xml
.idea/compiler.xml
.idea/vcs.xml
.idea/uiDesigner.xml
# contains user specific settings
.idea/libraries/Dart_Packages.xml
.babel-cache

static/dist
static/timings.css
static/timings.min.js
static/timings.css.map
static/.sass-cache

config.dev.ini
nbproject/

.pub
pubspec.lock
.packages
build/
**/packages/
node_modules