
.mc_0 {
	color: #000000;
}

.mc_1 {
	color: #0000AA;
}

.mc_2 {
	color: #00AA00;
}

.mc_3 {
	color: #00AAAA;
}

.mc_4 {
	color: #AA0000;
}

.mc_5 {
	color: #AA00AA;
}

.mc_6 {
	color: #FFAA00;
}

.mc_7 {
	color: #AAAAAA;
}

.mc_8 {
	color: #555555;
}

.mc_9 {
	color: #5555FF;
}

.mc_a {
	color: #55FF55;
}

.mc_b {
	color: #55FFFF;
}

.mc_c {
	color: #FF5555;
}

.mc_d {
	color: #FF55FF;
}

.mc_e {
	color: #FFFF55;
}

.mc_f {
	color: #FFFFFF;
}

.mc_l {
	font-weight: 900;
}

.mc_m {
	text-decoration: line-through;
}

.mc_n {
	text-decoration: underline;
}

.mc_o {
	font-style: italic;
}

.mc_r {
	text-decoration: none;
	font-style: inherit;
	color: inherit;
}
